:root {
    --primary-color: #00ACC1;
    --primary-background-color: linear-gradient(rgba(0, 128, 128, 1), rgba(0, 128, 128, 1));
    --white-color: #ffffff;
    --black-color: #111111;
    --black-color2: #414141;
    --gray-color: #dddddd;
}