:root {
    --primary-color: #42b883;
    --primary-background-color: linear-gradient(45deg, rgba(42, 59, 67, 1), rgba(66, 184, 131, 1));
    --white-color: #ffffff;
    --black-color: #35495e;
    --black-color2: #35495e;
    --gray-color: #dddddd;
}