:root {
    --primary-color: #42b883;
    --primary-background-color: linear-gradient(rgba(0, 168, 120, 1), rgba(0, 168, 120, 1));
    --white-color: #ffffff;
    --black-color: #35495e;
    --black-color2: #35495e;
    --gray-color: #dddddd;
}