.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    background: var(--primary-color);
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px var(--primary-color);
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
    color: var(--primary-color);
    background: transparent;
    box-shadow: inset 0 0 0 0 var(--primary-color);
    border-color: var(--primary-color);
}

/* .portfolio .portfolio-container-parent{
    height: auto;
    min-height: 100vh;
    transition: height 0.15s ease-out;
    overflow: hidden;
    background-color: red;
} */


/* .portfolio .portfolio-container{
    height: 500px;
    overflow: hidden;
} */

.portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
    height: 300px;

}

.portfolio .portfolio-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: .5s;
}

.portfolio .portfolio-item:hover img {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

.portfolio .portfolio-text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    background: var(--white-color);
    justify-content: space-between;
}

.portfolio .portfolio-text h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio .portfolio-text i {
    font-size: 18px;
    margin: 0 15px 0 0;
    white-space: nowrap;
    overflow: hidden;
    color: var(--black-color);
    transition: .5s;
}

.portfolio .portfolio-text i:hover {

    color: var(--primary-color);
}

/* .portfolio .portfolio-text a.btn {
    width: 50px;
    height: 50px;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 100;
}

.portfolio .portfolio-item:hover a.btn {
    color: var(--primary-color);
    background: transparent;
    box-shadow: inset 0 0 0 0 var(--primary-color);
    border-color: var(--primary-color);
} */